<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hemisferio Temporal - Contacto</title>
    <link rel="icon" href="./images/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="../images/identidadlogosinfondo.png" width="500" height="500" alt="Logo de la Empresa">
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/productos.html">Galería</a></li>
                <li><a href="../views/presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html" class="active">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>Contacto</h2>
        <p>Nos encontramos en:</p>
        <div class="ubicacion-container">
        <img src="../images/ubicacion-img.png" width="976" height="661" alt="Ubicación de la empresa" class="ubicacion-img">
        </div>
        <p>Dirección: Oviedo, Calle Sacramento 23</p>
        <p>Teléfono: 679135478</p>
        <p>Correo Electrónico: identidadartificial@gmail.com</p>
    </section>

    <footer>
        <div class="redes-sociales">
            <a href="https://www.facebook.com" target="_blank">
            <img src="../images/2023_Facebook_icon.svg" width="900" height="900" alt="Facebook"></a>
            <a href="https://www.instagram.com/identidad.artificial" target="_blank"> 
            <img src="../images/Instagram_logo_2022.svg.png" width="900" height="900" alt="Instagram"></a>
        </div>
        <p>Oviedo, Calle Sacramento 23</p>
        <p><a href="#"> © 2024 IDENTIDAD ARTIFICIAL. Todos los derechos reservados</a></p>
    </footer>
</body>
</html>
